*
{
    box-sizing:border-box;
    font: inherit;
    color: inherit;
    margin:0;
    padding:0;
}

body{
    margin: 0;
    font-family: "Lucida Grande";
    background-color: #ededee;
}

a{
    text-decoration: none;
}

.nav-container{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    display: inline-block;
}

.logo{
    width:  70px;
    margin: 10px;
}

.container{
    display: flex;
    align-items: center;
    list-style-type: none;
    float: left;
    isolation: isolate;
    margin-top: 5px;
   
}

.nav-btn{
    color: white;
    padding: 10px;
    background-color: black;
    margin: 10px;
    transition: all 0.5s;
    /* box-shadow: inset 0 0 0 2px #f45e61; */
    vertical-align: middle;
    position: relative;
    font-family: 'Comfortaa', cursive;
}
button::before, button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

/* .nav-btn:hover{
    color: white;
    border-color: salmon;
}

.nav-btn::before, .nav-btn::after{
    top: 0;
     left: 0;
}
.nav-btn::before{
    border: 2px solid transparent;
}
.nav-btn::before{
    border-top-color: #0eb7da;
    border-right-color: #0eb7da;
    border-bottom-color: #0eb7da;
    transition: 
    border-top-color 0.15s linear, 
    border-right-color 0.15s linear 0.1s, 
    border-bottom-color 0;
}
.nav-btn::after{
    border:0 solid transparent;
}
.nav-btn:hover::after{
    border-top : 2px solid #0eb7da;
    border-left-width: 2px;
    border-right-width: 2px;
    transform : rotate(270deg);
    transition : transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
} */
/* https://webdevtrick.com/css-border-transition-effects/ */

.nav-btn {
    transition: color 0.25s;
}
  .nav-btn::before, .nav-btn::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
  .nav-btn::before {
    top: 0;
    left: 0;
}
  .nav-btn::after {
    bottom: 0;
    right: 0;
}
  .nav-btn:hover {
    color: #0eb7da;
}
  .nav-btn:hover::before, .nav-btn:hover::after {
    width: 100%;
    height: 100%;
}
  .nav-btn:hover::before {
    border-top-color: #0eb7da;
    border-right-color: #0eb7da;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
  .nav-btn:hover::after {
    border-bottom-color: #0eb7da;
    border-left-color: #0eb7da;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.right-container{
    float:right;
    margin: 30px;
    font-family: 'Comfortaa', cursive;
    display: inline-block;
}

.register{
transition: all 0.5s;
padding: 20px;
color: white;
margin: 10px 20px  0   0;
background-color: rgba(255, 255, 255, 0.3);
}

.login{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    color: white;
    transition: all 0.5s;
}



.register:hover{
    background-color: rgba(255, 255, 255, 0.5);
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    @keyframes text-focus-in {
        0% {
          filter: blur(12px);
          opacity: 0;
        }
        100% {
          filter: blur(0px);
          opacity: 1;
        }
      }
    }

    
.angry-animate{
            -webkit-animation:jump 1s ease 0s infinite normal;
            -moz-animation:jump 1s ease 0s infinite normal;
            -ms-animation:jump 1s ease 0s infinite normal;
            animation:jump 1s ease 0s infinite normal;
        }
        
        @-webkit-keyframes jump{
            0%{ 
                -webkit-transform:translateY(0); 
                transform:translateY(0); 
            }
            20%{ 
                -webkit-transform:translateY(0); 
                transform:translateY(0); 
            }
            40%{ 
                -webkit-transform:translateY(-30px); 
                transform:translateY(-30px); 
            }
            50%{
                 -webkit-transform:translateY(0); 
                 transform:translateY(0);
                }
            60%{ -webkit-transform:translateY(-15px); transform:translateY(-15px); }
            80%{ -webkit-transform:translateY(0); transform:translateY(0); }
            100%{ -webkit-transform:translateY(0);transform:translateY(0); }
        }
        
        @keyframes jump{
            0%{ transform:translateY(0); }
            20%{ transform:translateY(0); }
            40%{ transform:translateY(-30px); }
            50%{ transform:translateY(0); }
            60%{ transform:translateY(-15px); }
            80%{ transform:translateY(0); }
            100%{ transform:translateY(0); }
        }

.angry-animate:hover {
        -webkit-animation:jump 1s ease 0s infinite normal;
        -moz-animation:jump 1s ease 0s infinite normal;
        -ms-animation:jump 1s ease 0s infinite normal;
        animation:jump 1s ease 0s normal;
    }
    
    @-webkit-keyframes jump{
        0%{ -webkit-transform:translateY(0); transform:translateY(0); }
        20%{ -webkit-transform:translateY(0); transform:translateY(0); }
        40%{ -webkit-transform:translateY(-30px); transform:translateY(-30px); }
        50%{ -webkit-transform:translateY(0); transform:translateY(0); }
        60%{ -webkit-transform:translateY(-15px); transform:translateY(-15px); }
        80%{ -webkit-transform:translateY(0); transform:translateY(0); }
        100%{ -webkit-transform:translateY(0);transform:translateY(0); }
    }
    
    @keyframes jump{
        0%{ transform:translateY(0); }
        20%{ transform:translateY(0); }
        40%{ transform:translateY(-30px); }
        50%{ transform:translateY(0); }
        60%{ transform:translateY(-15px); }
        80%{ transform:translateY(0); }
        100%{ transform:translateY(0); }
    }

 .login:hover{
    background-color: rgba(255, 255, 255, 0.5);
} 


.title{
    font-size:  100px;
    font-family: 'Comfortaa', cursive;
    text-align: center;   
    list-style-type: none;
}

body{
    color:  rgb(0, 0, 0);
}


.body-container{
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bg-pan-top {
	-webkit-animation: bg-pan-top 8s reverse backwards;
	        animation: bg-pan-top 8s reverse backwards;
}

 @-webkit-keyframes bg-pan-top {
    0% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  @keyframes bg-pan-top {
    0% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }

.body-container-child{
    color: black;
    font-size: 20px ;  
    font-family: 'Comfortaa', cursive; 
}
.body-container-child:hover{
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}

.body-container-title{
font-size:  50px;
text-align: left;
padding:    20px;
}

.body-wrap-container{
    opacity:    0.8;
    display:flex;
    align-items: center;
    box-shadow: 0 2px 10px rgb(0 0 0 / 4%);
  background-color: white;
}

.body-container-child-list{
    display: flex;
    box-shadow: 0 2px 10px rgb(0 0 0 / 4%);
    padding:    5px;
    border-radius: 0 3px 3px 0;
    background-color: rgba(240,244,249,0.6);
    margin: 10px   40px    20px  40px   ;
    
}
.body-container-child-list:hover{
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}
.body-container-child-list-2{
    list-style-type: none;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.body-wrapper{
    margin: 25px 100px 100px 100px;
    border-color: black;
    width: 80%;
    /* min-width: 400px; */
}

.body-wrapper:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
}

.body-container-child-list ul{
    margin: 0 auto;
}
.body-picture{
    width: 20vw;
    height: auto;
}
.skillcap-title{
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
}

.skillcap-main-container{
    display:flex;
    justify-content: center;
}
.skillcap{
    display:flex;
    margin:0;
    text-align: center;  
}
.bounce-in-top:hover {
	-webkit-animation: bounce-in-top 0.1s both;
	        animation: bounce-in-top 1.1s both;
}

.skillcap:hover{
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}
.skill-txt{
    padding: 50px;
    background-color: yellow;
    box-shadow: 4px 7px #78791a;
}

.skill-txt:active{
    position: relative;
    top: 7px;
    left: 4px;
    box-shadow: none;
}

.skillcap-container{
    padding:10px;
    
}

.skill-txt-main{
    padding: 0px 50px 0px 50px;
    display:    inline-block;
    
}


.colom-title{
    margin-top: 30px;
    font-size:  60px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.main-colom{
    
    box-shadow: 0 2px 10px rgb(0 0 0 / 4%);
    margin: 30px   0    50px    0;
    font-size: 30px; 
    padding:    30px;
    background-color: white;
    /* float:  left; */
    /* display:   inline-block; */
}
.category-container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.colom1{
    margin-left:    230px;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 50px   20px;
}
.colom1:hover{
    -webkit-box-shadow:0px 0px 10px 10px #000000 ;
    -moz-box-shadow:0px 0px 20px 10px #000000 ;
    box-shadow:0px 0px 20px 10px #000000 ;
}


.lang-1{
    cursor: pointer;
}
.lang-2{
    cursor: pointer;
}
.lang-3{
    cursor: pointer;
}

.flip-2-hor-top-fwd:hover {
	-webkit-animation: flip-2-hor-top-fwd 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-2-hor-top-fwd 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-2-hor-top-fwd {
    0% {
      -webkit-transform: translateY(0) translateZ(0) rotateX(0);
              transform: translateY(0) translateZ(0) rotateX(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: translateY(-0%) translateZ(120px) rotateX(-360deg);
              transform: translateY(-0%) translateZ(120px) rotateX(-360deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }

  @keyframes flip-2-hor-top-fwd {
    0% {
      -webkit-transform: translateY(0) translateZ(0) rotateX(0);
              transform: translateY(0) translateZ(0) rotateX(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: translateY(-0%) translateZ(120px) rotateX(-360deg);
              transform: translateY(-0%) translateZ(120px) rotateX(-360deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  



span{
    width: 50%;
    border:transparent solid;
    text-align: center;
}

footer{
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    position:relative;
    clear:both;
}

.footer-row-one{
    margin:20px;
}

.footer-row-two{
    margin:20px;
}

.footer-row-three{
    margin:20px;
}

.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-main{
    display:flex;
}

footer h4 {
    margin-bottom: 40px;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer-logo{
    width:  100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer_menus li {
    list-style: none;
    color: #fff;
    padding-top: 10px;
}

/* buuble */

/* Responsive media query for mobile, tablet, desktop */
@media screen and (max-width: 600px) {
    html, body {
        width:100%;
        overflow-x:hidden;
    }

    .body-container-title {
        font-size: 30px;
    }

    .title {
        font-size: 50px;
    }

    .body-wrap-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .body-picture {
        width: 55vw;
        height: auto;
    }

    .skillcap {
        display: flex;
        flex-direction: column;
    }

    .skillcap-title, .colom-title h1 {
        font-size: 25px;
    }

    .colom1 {
        margin-left: 80px;
    }

    .nav-container .container {
        display: flex;
        flex-direction: column;
    }

    .right-container.angry-animate {
        display: flex;
        flex-direction: column;
        float: right;
    }
    
    .register {
        margin: 20px;
        padding: 20px;
    }

    /* Footer */
    .footer-main {
        display: block;
        padding-top: 80px;
    }

    footer h4 {
        margin-bottom: 5px;
    }

    .footer-row-two, .footer-row-three {
        margin-top: 50px;
    }
}